<ion-view view-title="Login">


    <ion-content>
        <div class="padding">



            <div class="list card">

                <!--       <div class="item item-avatar">
                    <img src="avatar.jpg">
                    <h2>Pretty Hate Machine</h2>
                    <p>Nine Inch Nails</p>
                </div> -->

                <div class="item item-image">
                    <img src="img/Backpack_icon-256.png">
                </div>


                <!--
                <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-music-note"></i>
    Start listening
  </a>-->

            </div>


            <button class="button button-block button-positive" ng-click="signIn()">
              Google Login
            </button>


            

            <ion-card *ngIf="userData">
                <ion-card-content>
                    <!--<img class="profile-img" [hidden]="!userData" [src]="userData.imageUrl" />
-->
                    <!--<img src="userData.imageUrl"> {{userData}}-->


                    <h1>{{userData.displayName}}</h1>
                    <!-- <p>{{userData.email}}</p>-->
                </ion-card-content>
            </ion-card>
            <p class="text-center">
                <a href="#/forgot-password">Forgot password</a>
            </p>
        </div>
    </ion-content>




</ion-view>